.navbar-background {
  background: #393e46;
}

.navbar-toggler {
  background-color: #eeeeee !important;
}

.btn-close {
  background-image: url("../../assets/close.png") !important;
}

.title {
  line-height: 60px;
}

.text-content {
  opacity: 0.7;
}

.btn-primary {
  background-color: #00adb5;
  border: #00adb5;
}
